$font-openSans: "Open Sans", sans-serif;
$font-pacifico: "Pacifico", cursive;

$fw-light: 300;
$fw-regular: 400;
$fw-semiBold: 600;
$fw-bold: 700;
$fw-extraBold: 800;

$bg-header: rgba(16, 22, 54, 0.2);

$main-greenColor: #0feb9e;
$main-blueColor: #062033;

$h2-color: #0eb493;
$h2-padding: 80px;

$features-greenColor: #27a284;
$footer-bgColor: #1ea78d;
